<div class="box">
    <header>
        <h1> You have set up a demo rails app on drie!</h1>
        <h2> Try logging into the <a href="https://web_dashboard.app.drie.co">dashboard</a>.</h2>
    </header>
    
    <section class="architecture-image">
        <img src="https://s3-eu-west-1.amazonaws.com/drie-assets/drie_architecture.png" />
    </section>

    <section>
        <p>Why not take a look at some of our other <a href="https://docs.drie.co/">documentation</a> or some of our guides:
            <ul>
                <li><a href="http://docs.drie.co/docs/drie-platform-overview">drie platform overview</a></li>
                <li><a href="http://docs.drie.co/docs/deploying-from-a-branch">Deploying from a branch</a></li>
                <li><a href="http://docs.drie.co/docs/deploying-from-a-private-repo">Deploying from a private repo</a>
                <li><a href="http://docs.drie.co/docs/adding-a-database-to-your-app">Adding a database to your drie application</a></li>
            </ul>
        </p>
    </section>
</div>
