<h1> You have set up a demo rails app on drie </h1>

<p>Why not take a look at some of our other <a href="https://docs.drie.co/">documentation</a> or some of our guides:
    <ul>
        <li>Building from a branch</li>
        <li>Integration with Amazon KMS</li>
        <li>Scaling an app</li>
    </ul>
</p>
